*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor1: #5300C8;
    --cor2: white;
    --cor3: #03318C;
    --cor4: #001744;

    --pixel: "Press Start 2P", system-ui;
    --ibm: "IBM Plex Mono", monospace;
}

.titulo{
    font-family: var(--pixel);
    color: var(--cor2);
    font-size: 24px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.titulo_produto{
    font-family: var(--pixel);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column-reverse;
    gap: 7.6vh;
    align-items: center;
}

.produtos_conteiner{
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-bottom: 110px;
    gap: 40px;
    align-items: center;
    width: 43vh;
    height: 130vh;
}

.produtos_lista{
    display: grid;
    row-gap: 78px;
    column-gap: 30px;
    grid-template-columns: 150px 150px;

    width: 350px;
    padding: 10px;
    height: 105vh;
    
    box-shadow: -12px 10px 5.8px 0px #00000040;
    overflow: auto;
    overflow-x: hidden;
}

.produtos_item{
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 200px;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor1);
    border: 3px solid #000000;
    box-shadow: -5px 6px 3.3px 0px #00000040;
    color: var(--cor2);
    font-family: var(--ibm);
    font-size: 15px;
    font-weight: 400;
}

.produto_div{
    display: flex;
    justify-content: space-between;
    font-family: var(--ibm);
    font-weight: 700;
}

.produto_add{
    margin: 33px 0px 0px 0px;
    padding: 10px 0px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    Width: 47vh;
    Height: 57vh;
}

.produto_add_input{
    resize: none;
    align-self: center;
    width: 43vh;
    height: 3.2vh;
    border-radius: 30px;
    border: solid 3px;
    line-height: 20px;
    border-color: var(--cor3);
    color: var(--cor3);

    font-family: var(--ibm);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px 0px 15px;
}

.produto_add_input::placeholder{
    color: var(--cor3);
}

.produto_add_botoes{
    display: flex;
    align-self: center;
    gap: 5px;
}

.produto_add_botao{
    width: 170px;
    height: 55px;
    font-size: 20px;
    font-weight: 500;
    color: var(--cor2);
    border: solid 3px;
    border-radius: 15px;   
    border-color: solid (--cor3);
    background-color: var(--cor3); 
    font-family: var(--ibm);
    transition-duration: .5s;
}

.produto_add_botao:hover{
    background-color: var(--cor2);
    color: var(--cor3);
    border-color: var(--cor3);
}

.produto_add_botao:nth-child(2){
    font-family: var(--ibm);
    background-color: var(--cor2);
    color: var(--cor3);
    font-weight: 500;
    font-size: 20px;
    transition-duration: .5s;

}

.produto_add_botao:nth-child(2):hover{
    background-color: var(--cor4);
    color: var(--cor2);
    border-color: var(--cor2);
}

.produto_nome{
    font-size: 12px;
}

.header{
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 10px 9.5px 0px #00000040;
}

.geek_img{
    width: 138px;
    height: 56px;
}

.footer{
    padding: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor1);
    box-shadow: 0px -10px 9.5px 0px #00000040;
}

.footer_geek{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: var(--cor2);
    font-family: var(--ibm);
}

@media(min-width: 770px){
    .main{
        flex-direction: row;
        justify-content: space-around;
        align-items: normal;
    }
    
    .produtos_conteiner{
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin: 12vh 7.5vh 0vh 30vh;
        gap: 40px;
        align-items: center;
    }
    
    .produtos_lista{
        column-gap: 10px;
        grid-template-columns: auto auto auto;
    
        width: 74vh;
        padding: 15px 64px 15px 15px;
    }
    
    .produtos_item{
        width: 196px;
        height: 258px;
    }

    .produto_add{
        margin: 110px 70px;
        padding: 40px;
    }

    .produto_add_botoes{
        gap: 40px;
    }

    .produto_add_botao{
        width: 188px;
    }

    .produto_nome{
        font-size: 15px;
    }
}
